*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Tahoma;
    color: lightgreen;
    font-size: 25px;
}
